<div class="container">
  <div class="row justify-content-md-center">
      <div class="col-lg-5">
        <div class="headlines">
          <img src="../../assets/yahoo/headline.png" width="650" height="200"/>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="box">
          <img src="../../assets/weather/icon-weather.png" class="imgweather" /> <br /> 39&#176;
        </div>
        <div class="box">
          <img src="../../assets/weather/icon-weather.png" class="imgweather" /><br /> 35&#176;
        </div>
        <div class="box"><img src="../../assets/weather/icon-weather.png" class="imgweather" /><br /> 33&#176;
        </div>
      </div>
    </div>
</div>